/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 @keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.toasted_wrap {
  padding: 30px;
  margin-left: -20px;
}
.toasted_wrap .form-table td {
  margin-bottom: 5px;
  padding: 4px 0px;
  display: block;
  max-width: 600px;
}
.toasted_wrap .form-table th {
  text-align: left;
  padding: 0px 10px 0px 0;
  display: block;
  margin-top: 15px;
}
.toasted_wrap .form-table input[type="text"] {
  width: 100%;
}
.help-link {
  display: inline-block;
  margin-top: 5px;
}
#brand-aug-dist {
  width: 98%;
}
#brand-aug-dist-config {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.code-style {
  display: block;
  font-family: Courier, monospace;
}
.code-field {
  margin-top: 5px;
  margin-left: 10px;
  font-family: Courier, monospace;
  white-space: pre-wrap;
}
.toasted_wrap p.submit {
  margin-bottom: 80px;
}
.toasted-one-third,
.toasted-two-third {
  display: block;
  float: left;
}
.toasted-one-third {
  width: 30%;
}
.toasted-two-third {
  width: 70%;
}
.copy-btn {
  color: #0073aa;
  text-decoration: underline;
}
.copy-btn:hover {
  cursor: pointer;
}
.toasted_wrap .notice {
  margin: 5px 0px 2px;
}
